
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

chroma_db/
backend/chroma_db/


.env
backend/.env


backend/temp_*/
*.log

# Dependency directories
node_modules/
jspm_packages/

# Vite / Build outputs
dist/
dist-ssr/
*.local

.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vite/

*.docx
*.pdf
!generate_samples.py 